In [ ]:
a = 1 
b = 2 
c = 7

name = "Harry"