In [ ]:
friends = ["Apple", "Orange", 5, 345.06, False, "Aakash", "Rohan"]
print(friends)
friends.append("Harry")
print(friends)
friends.append("Amar") #use append methode to add in list
print(friends)

['Apple', 'Orange', 5, 345.06, False, 'Aakash', 'Rohan']
['Apple', 'Orange', 5, 345.06, False, 'Aakash', 'Rohan', 'Harry']
['Apple', 'Orange', 5, 345.06, False, 'Aakash', 'Rohan', 'Harry', 'Amar']

In [1]:
l=[1,5,9,8,3,6,4,7]
l.sort()  #use .sort for sort the numbers
print(l)
l.reverse()  #for reverse
print(l)
l.insert(3, 55) #for insert 
print(l)

[1, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 1]
[9, 8, 7, 55, 6, 5, 4, 3, 1]