# Tupple is immutable cannot change

In [ ]:
a = (34, 234, "Harry")

a[2] = "Larry"

TypeError: 'tuple' object does not support item assignment