In [9]:
class programmer :
    company = "Microsoft"
    def __init__(self,name,pin,salary) :
        self.name = name
        self.pin = pin
        self.salary = salary 

p = programmer("amar",1234,10000)
print(p.name, p.salary, p.pin, p.company)
a = programmer("akbar",5678,20000)
print(a.name, a.salary, a.pin, a.company)

amar 10000 1234 Microsoft
akbar 20000 5678 Microsoft

In [6]:
class Programmer:
    company = "Microsoft"
    def __init__(self, name, salary, pin):
        self.name = name
        self.salary = salary
        self.pin = pin


p = Programmer("Harry", 1200000, 245001)
print(p.name, p.salary, p.pin, p.company)
r = Programmer("Rohan", 1200000, 245001)
print(r.name, r.salary, r.pin, r.company)

Harry 1200000 245001 Microsoft
Rohan 1200000 245001 Microsoft