In [ ]:
s = {1, 5, 32, 54,5, 5, 5, "Harry"}

print(s, type(s))

s.add(566)
print(s, type(s))
s.remove(1)
print(s, type(s))

{32, 1, 5, 54, 'Harry'} <class 'set'>
{32, 1, 5, 54, 566, 'Harry'} <class 'set'>
{32, 5, 54, 566, 'Harry'} <class 'set'>

In [4]:
s = {1, 5, 32, 54,5, 5, 5, "Harry"}
s.add(566)
print(s,)

{32, 1, 5, 54, 566, 'Harry'}